{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

<body>
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
	<div class="centerContainer">    
	    <h1 class="header">Pair a Dispenser</h1>
		
		<form method="post">
	    {% csrf_token %}
    
	    {{ form.non_field_errors }}
    
	    {{ form.code.errors }}</br>
	    <label for="{{ form.code.id_for_label }}">Code</label></br>
	    {{ form.code }}</br>
    
	    {{ form.name.errors }}</br>
	    <label for="{{ form.code.id_for_label }}">Name</label></br>
	    {{ form.name }}</br>
    
	    <button class= "btn btn-dark mt-4" type="submit">Pair</button>
	    </form>
	</div>
</body>
</html>
