{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

<body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}

    <div class="centerContainer">
    	<h1 class="header">Devices</h1>
	</div>
	
	<h4><a class="link" href="{% url 'devices-dispensor-add' %}">Pair a dispensor</a></h4><br>
    
    {% if pairedDevices %}
    <ul>
        {% for device in pairedDevices %}
        <li>
            <h4>{{ device.name }} </h4>
            <a class="link"  href="{% url 'devices-dispensor-delete' dispensorID=device.serialNumber %}">delete</a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

</body>
</html>
