{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
    
    {% if treatments %}
    <ul>
        {% for treatment in treatments %}
        <li>
            <h4>{{treatment.patientFirstName}} {{treatment.patientLastName}}</h4>
            <a class="link"  href="{% url 'treatment-edit' treatmentID=treatment.id %}">Edit</a>
        </li>
    {% endfor %}
    </ul>
    
    </body>
</html>
