{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
    
    <form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    {{ form.tokenPart1.errors }}
    {{ form.tokenPart2.errors }}
    {{ form.tokenPart3.errors }}
    {{ form.tokenPart4.errors }}
    <br>
    
    {{ form.tokenPart1 }} - {{ form.tokenPart2 }} - {{ form.tokenPart3 }} - {{ form.tokenPart4 }}<br>
    
    <button class= "btn btn-dark mt-4" type="submit">Import</button>
    </form>

    </body>
</html>
