{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

<body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
    
    <form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    {{ form.name.errors }}</br>
    <label for="{{ form.name.id_for_label }}">Medicine name</label></br>
    {{ form.name }}</br>
    
    {{ form.emergency.errors }}</br>
    <label for="{{ form.emergency.id_for_label }}">Is emergency?</label></br>
    {{ form.emergency }}</br>
    
    {{ form.dose.errors }}</br>
    <label for="{{ form.dose.id_for_label }}">Number of pills</label></br>
    {{ form.dose }}</br>
    
    {{ form.timeOfTaking.errors }}</br>
    <label for="{{ form.timeOfTaking.id_for_label }}">Time of taking the medicine</label></br>
    {{ form.timeOfTaking }}</br>
    
    {{ form.takenTo.errors }}</br>
    <label for="{{ form.takenTo.id_for_label }}">Taken to</label></br>
    {{ form.takenTo }}</br>
    
    {{ form.takenFrom.errors }}</br>
    <label for="{{ form.takenFrom.id_for_label }}">Taken from</label></br>
    {{ form.takenFrom }}</br>
    
    <button class= "btn btn-dark mt-4" type="submit">Save</button>
    </form>
    
</body>
</html> 
