{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

<body>
		
		{% include "web/components/navbar.html" %}
	    {% include "web/components/messages.html" %}
		
	<div class="centerContainer">
	
		<h1 class="header">Edit Medicine</h1>
    
	    <form method="post">
	    {% csrf_token %}
    
	    {{ form.non_field_errors }}
    
	    {{ form.name.errors }}</br>
	    <label for="{{ form.name.id_for_label }}">Name</label></br>
	    {{ form.name }}</br>
    
	    {{ form.emergency.errors }}</br>
	    <label for="{{ form.emergency.id_for_label }}">Is it emergency medicine?</label></br>
	    {{ form.emergency }}</br>
    
	    {{ form.dose.errors }}</br>
	    <label for="{{ form.dose.id_for_label }}">Number of pills</label></br>
	    {{ form.dose }}</br>
    
	    {{ form.timeOfTaking.errors }}</br>
	    <label for="{{ form.timeOfTaking.id_for_label }}">Time at which the medicine is taken</label></br>
	    {{ form.timeOfTaking }}</br>
		
	    {{ form.takenFrom.errors }}</br>
	    <label for="{{ form.takenFrom.id_for_label }}">Taken from</label></br>
	    {{ form.takenFrom }}</br>
    
	    {{ form.takenTo.errors }}</br>
	    <label for="{{ form.takenTo.id_for_label }}">Taken until</label></br>
	    {{ form.takenTo }}</br>
    
	    <button class= "btn btn-dark mt-4" type="submit">Save</button>
	    </form>
    </div>
</body>
</html> 
