{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
	
	<div class="centerContainer">
    
    <h1 class="header">Dashboard</h1>
	
    <form action="{% url 'user-account-edit' %}">
		<button class= "btn btn-dark mt-4" href>Edit Account</button>
    </form>
    
</div>
	
    </body>
</html>
