{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>

    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
    
    <center><h1> Password change </h1></center>
    
    <form action="passwd-change" method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    {{ form.oldPassword.errors }}</br>
    <label for="{{ form.oldPassword.id_for_label }}">Old password</label></br>
    {{ form.oldPassword }}</br>
    
    {{ form.newPassword1.errors }}</br>
    <label for="{{ form.newPassword1.id_for_label }}">New password</label></br>
    {{ form.newPassword1 }}</br>
    
    {{ form.newPassword2.errors }}</br>
    <label for="{{ form.newPassword2.id_for_label }}">Repeat new password</label></br>
    {{ form.newPassword2 }}</br>
    
     <button type="submit">Change password</button>
    </form>

    </body>
</html>
