{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to the awesome login page!</title>
	
	{% include "web/components/common_css_bundle.html" %}

    <!-- Custom styles for this template -->
    <link href="{% static "web/login/login.css" %}" rel="stylesheet">
  </head>

  <body>
  
    {% include "web/components/messages.html" %}
    
    <!--form code -->
    <div class="row h-100 justify-content-center">
		<div class="text-center signForm my-auto">
	    <form class="form-signin" action="login" method="post">
	      {% csrf_token %}
	      <img class="mb-20 center" src="{% static "web/login/logo.svg" %}" alt="" width="auto" height="content">
	      <h3 class="h3 mb-3 title">Please sign in</h3>
	      <label for="loginEmail" class="sr-only">Email Address</label>
	      <input type="email" name="email" id="email" class="form-control" placeholder="Your E-mail Address" required autofocus>
	      <label for="loginPassword" class="sr-only">Password</label>
	      <input type="password" name="password" id="password" class="form-control" placeholder="Your Password" required>
	      <button class="btn btn-lg btn-dark btn-primary btn-block" type="submit">Sign in</button>
		  <h4 class="mb-25 pt"><a href="{% url 'registration-page' %}"> Register </a></h4><br>
	    </form
	  	</div>
	</div>

  </body>
</html>
