{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
	    {% include "web/components/messages.html" %}
    
	    <div class="centerContainer">
			<h1 class="header">Register</h1>
			<form action="register" method="post">
			    {% csrf_token %}
    
			    {{ form.non_field_errors }}
    
			    {{ form.email.errors }}</br>
			    <label for="{{ form.email.id_for_label }}">Email</label></br>
			    {{ form.email }}</br>
    
			    {{ form.first_name.errors }}</br>
			    <label for="{{ form.first_name.id_for_label }}">First Name</label></br>
			    {{ form.first_name }}</br>
    
			    {{ form.last_name.errors }}</br>
			    <label for="{{ form.last_name.id_for_label }}">Last Name</label></br>
			    {{ form.last_name }}</br>
    
			    {{ form.password1.errors }}</br>
			    <label for="{{ form.password1.id_for_label }}">Password</label></br>
			    {{ form.password1 }}</br>
    
			    {{ form.password2.errors }}</br>
			    <label for="{{ form.password2.id_for_label }}">Repeat password</label></br>
			    {{ form.password2 }}</br>
    
			    <button class= "btn btn-dark mt-4" type="submit">Register</button>
		    </form>
		</div>
    </body>
</html>
