{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
	
    <div class="centerContainer">
		
		<h1 class="header">Edit Treatment</h1>
    
	    <form method="post">
	    {% csrf_token %}
    
	    {{ form.non_field_errors }}
    
	    {{ form.patientFirstName.errors }}</br>
	    <label for="{{ form.patientFirstName.id_for_label }}">Patient First Name</label></br>
	    {{ form.patientFirstName }}</br>
    
	    {{ form.patientLastName.errors }}</br>
	    <label for="{{ form.patientLastName.id_for_label }}">Patient Last Name</label></br>
	    {{ form.patientLastName }}</br>
    
	    <button class= "btn btn-dark mt-4" type="submit">Save settings</button>
	    </form>

	    <h3 class="title mt-5">Medicines</h3>
		{% if medicines %}
	    <ul>
	        {% for medicineDosing in medicines %}
	        <li>
	            <h4>{{medicineDosing.medicine.name}}    
	            <a href="{% url 'treatment-medicine-edit' medicineID=medicineDosing.id treatmentID=treatmentID %}">Edit</a>
	            <a href="{% url 'treatment-medicine-delete' medicineID=medicineDosing.id treatmentID=treatmentID %}"> Delete</a>
	            </h4>
	        </li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	    <form action="{% url 'treatment-medicine-edit' treatmentID=treatmentID medicineID='new' %}">
			<button class= "btn btn-dark" href>Add new medicine</button>
	    </form>
		
		<h4 class="pt"><a href="{% url 'treatment-export-token' treatmentID=treatmentID %}">Export Treatment</a></h4></br>
    </div>
    </body>
</html>
