{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "web/components/common_css_bundle.html" %}
  </head>

    <body>
    
    {% include "web/components/navbar.html" %}
    {% include "web/components/messages.html" %}
    
    <div class="centerContainer">
		
		<h1 class="header">Treatments</h1>
    
	    {% if pairedTreatments %}
		<h3 class="title mt-5">Patients</h3>
	    <ul>
	        {% for treatment in pairedTreatments %}
	        <li>
	            <h4>{{treatment.patientFirstName}} {{treatment.patientLastName}}</h4>
	            <a class="link"  href="{% url 'treatment-edit' treatmentID=treatment.id %}">Edit</a>
	        </li>
	    {% endfor %}
	    </ul>
	    {% endif %}
		
	    <form action="{% url 'treatment-import' %}">
			<button class= "btn btn-dark mt-4" href>Import Treatment</button>
	    </form>
	</div>
    </body>
</html>
